<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Current booking</title>
</head>
<body>

<a th:text="'Booking number: ' + ${booking.getIdBooking()} + '; '">user</a>
<a th:text="'StartDate: ' + ${booking.getStartDate()} + '; '">user</a>
<a th:text="'EndDate: ' + ${booking.getEndDate()} + '; '">user</a>
<p>Guests:<p/>
<div th:each="guest : ${booking.getGuests()}">
    <a th:text="${guest.getName} + '; '">user</a>
</div>

</body>
</html>