<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Registration user</title>
</head>
<p>User created:</p>
    <p th:text="'Id: ' + ${user.getId()} + '; '">user</p>
    <p th:text="'Name: ' + ${user.getUserName()} + '; '">user</p>
    <p th:text="'Email: ' + ${user.getEmail()} + '; '">user</p>
    <p th:text="'Login: ' + ${user.getLogin()} + '; '">user</p>
    <p th:text="'Telephone number: ' + ${user.getTelephoneNumber()} + '; '">user</p>
</body>
</html>