<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Get announcements</title>
</head>
<p>Announcements:</p>
<p>VIP</p>
<div th:each="announcement : ${Vip}">
    <a th:text="'Number: ' + ${announcement.getId()} + '; '">user</a>
    <a th:text="'Name: ' + ${announcement.getName()} + '; '">user</a>
    <a th:text="'Price: ' + ${announcement.getPrice()} + '; '">user</a>
    <a th:text="'Rating: ' + ${announcement.getRating()} + '; '">user</a>
</div>
<p>Not VIP</p>
<div th:each="announcement : ${NotVip}">
    <a th:text="'Number: ' + ${announcement.getId()} + '; '">user</a>
    <a th:text="'Name: ' + ${announcement.getName()} + '; '">user</a>
    <a th:text="'Price: ' + ${announcement.getPrice()} + '; '">user</a>
    <a th:text="'Rating: ' + ${announcement.getRating()} + '; '">user</a>
</div>
</body>
</html>