<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Get announcements by price</title>
</head>
<p>Announcements by price:</p>

<div th:each="announcement : ${GetByPrice}">
    <a th:text="'Number: ' + ${announcement.getId()} + '; '"></a>
    <a th:text="'Name: ' + ${announcement.getName()} + '; '"></a>
    <a th:text="'Price: ' + ${announcement.getPrice()} + '; '"></a>
    <a th:text="'Rating: ' + ${announcement.getRating()} + '; '"></a>
</div>
</body>
</html>