<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Registration announcement</title>
</head>
<p>Announcement created:</p>
    <p th:text="'Name: ' + ${announcement.getName()} + '; '">user</p>
    <p th:text="'Price: ' + ${announcement.getPrice()} + '; '">user</p>
    <p th:text="'Start date: ' + ${announcement.getStartDate()} + '; '">user</p>
    <p th:text="'Description: ' + ${announcement.getDescription()} + '; '">user</p>
    <p th:text="'isVip: ' + ${announcement.isVip()} + '; '">user</p>
</body>
</html>